@charset "UTF-8";
/*-------------------------------------------------------------------------------------------
------------------------------------------ЦВЕТА----------------------------------------------
-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------
------------------------------------------ШРИФТЫ---------------------------------------------
-------------------------------------------------------------------------------------------*/
@font-face {
  font-family: "NTSomic Regular";
  src: url(../fonts/01_NTSomic-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "NTSomic Medium";
  src: url(../fonts/02_NTSomic-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Uncage";
  src: url(../fonts/ofont.ru_Uncage.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Stozl bold";
  src: url(../fonts/stolzl_bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Stozl book";
  src: url(../fonts/stolzl_book.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Stozl medium";
  src: url(../fonts/stolzl_medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: "Stozl regular";
  src: url(../fonts/stolzl_regular.otf);
  font-weight: 400;
}
/*-------------------------------------------------------------------------------------------
-----------------------------------------ПЕРЕМЕННЫЕ------------------------------------------
-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------
-----------------------------------СТАНДАРТНЫЕ НАСТРОЙКИ-------------------------------------
-------------------------------------------------------------------------------------------*/
html,
body {
  height: 100%;
}

.body {
  font-family: "Stozl medium";
  font-weight: 400;
  font-size: 8px;
  line-height: 120%;
  color: #576283;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: env(safe-area-inset-top);
}

.main {
  flex: 1 1 auto;
}

div[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}

/*-------------------------------------------------------------------------------------------
--------------------------------------HEADER---------------------------------------------
-------------------------------------------------------------------------------------------*/
.header {
  margin-bottom: 15px;
  margin-top: 15px;
}
.header__inner {
  padding: 10px 10px 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(12, 14, 60, 0.11);
  display: flex;
  align-items: center;
  justify-content: space-between;
}