/*-------------------------------------------------------------------------------------------
------------------------------------------ЦВЕТА----------------------------------------------
-------------------------------------------------------------------------------------------*/

$mainColor: #576283;

/*-------------------------------------------------------------------------------------------
------------------------------------------ШРИФТЫ---------------------------------------------
-------------------------------------------------------------------------------------------*/

@font-face {
  font-family: "NTSomic Regular";
  src: url(../fonts/01_NTSomic-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "NTSomic Medium";
  src: url(../fonts/02_NTSomic-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Uncage";
  src: url(../fonts/ofont.ru_Uncage.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Stozl bold";
  src: url(../fonts/stolzl_bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Stozl book";
  src: url(../fonts/stolzl_book.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Stozl medium";
  src: url(../fonts/stolzl_medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: "Stozl regular";
  src: url(../fonts/stolzl_regular.otf);
  font-weight: 400;
}

$NTSomicRegulal: "NTSomic Regular";
$NTSomicMedium: "NTSomic Medium";
$Uncage: "Uncage";
$StozlBold: "Stozl bold";
$StozlBook: "Stozl book";
$StozlMedium: "Stozl medium";
$StozlRegular: "Stozl regular";

/*-------------------------------------------------------------------------------------------
-----------------------------------------ПЕРЕМЕННЫЕ------------------------------------------
-------------------------------------------------------------------------------------------*/

$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

/*-------------------------------------------------------------------------------------------
-----------------------------------СТАНДАРТНЫЕ НАСТРОЙКИ-------------------------------------
-------------------------------------------------------------------------------------------*/
html,
body {
  height: 100%;
}

.body {
  font-family: $StozlMedium;
  font-weight: 500;
  font-size: 8px;
  line-height: 120%;
  color: $mainColor;
  letter-spacing: -2%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  padding-top: max(20px, env(safe-area-inset-top));
}

.save-place {
  padding-top: max(20px, env(safe-area-inset-top));
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
}

.main {
  flex: 1 1 auto;
}

div[class*="__container"] {
  max-width: $xl;
  margin: 0 auto;
  padding: 0px 20px;
}

._bgi {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  display: inline-flex;
  line-height: 31px;
  padding: 0 15.5px;
  background: linear-gradient(#6b97d6, #4e7aba);
  border-radius: 60px;
  color: #fff;
  font-size: 6px;
  text-transform: uppercase;
  letter-spacing: 8%;
  min-width: 123px;
  text-align: center;
  justify-content: center;
  transition: all 0.2s ease;
  &:active {
    transform: scale(1.05);
  }
}

.title {
  font-family: $StozlBold;
  font-weight: 700;
  line-height: 105%;
  font-size: 15px;
  color: #222e53;
}

a,
button {
  transition: all 0.2s ease;
  &:active {
    transform: scale(1.05);
  }
}

/*-------------------------------------------------------------------------------------------
--------------------------------------HEADER---------------------------------------------
-------------------------------------------------------------------------------------------*/

.header {
  // .header__container
  margin-bottom: 15px;
  margin-top: 15px;

  &__container {
  }

  &__inner {
    padding: 10px 11px 6px 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba($color: #0c0e3c, $alpha: 0.11);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .header__logo

  &__logo {
    width: 85px;
    height: 20px;
  }

  // .header__notification

  &__notification {
  }
}

/*-------------------------------------------------------------------------------------------
------------------------------------CALCULATE---------------------------------------------
-------------------------------------------------------------------------------------------*/

.calculate {
  // .calculate__container
  margin-bottom: 23.34px;

  &__inner {
    position: relative;
    padding: 23px 20px 26px 20px;
    border-radius: 20.62px;
    overflow: hidden;
  }

  // .calculate__title

  &__title {
    font-family: $StozlBold;
    font-weight: 700;
    font-size: 20px;
    line-height: 105%;
    letter-spacing: -2%;
    margin-bottom: 11px;
    max-width: 140px;
    color: #222e53;
  }

  // .calculate__text

  &__text {
    font-family: $StozlBook;
    font-weight: 400;
    line-height: 125%;
    font-size: 9px;
    letter-spacing: -2%;
    color: #576283;
    max-width: 100px;
    margin-bottom: 12px;
  }

  // .calculate__button

  &__button {
  }

  // .calculate__car

  &__car {
    position: absolute;
    bottom: -4px;
    right: -3px;
    width: 184px;
  }

  // .calculate__bg

  &__bg {
  }
}

/*-------------------------------------------------------------------------------------------
--------------------------------------MODELS---------------------------------------------
-------------------------------------------------------------------------------------------*/

.models {
  margin-bottom: 29px;
  // .models__container

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9px;
  }

  // .models__item

  &__item {
  }
}
.item-model {
  background-color: #f7f8fa;
  border-radius: 20.62px;
  overflow: hidden;
  padding: 11px 11px 11px 14px;
  display: flex;
  flex-direction: column;
  // .item-model__header

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
  }

  // .item-model__model

  &__model {
    width: 27px;
    height: 27px;
    margin-top: 5px;
  }

  // .item-model__car

  &__car {
  }

  // .item-model__title

  &__title {
    font-size: 14px;
    font-weight: 500;
    color: #222e53;
    margin-bottom: 3px;
    line-height: 105%;
    letter-spacing: -2%;
    margin-top: auto;
  }

  // .item-model__footer

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .item-model__text

  &__text {
    font-family: $StozlBook;
    font-weight: 400;
    line-height: 132%;
    letter-spacing: -2%;
    max-width: 93px;
  }

  // .item-model__arrow

  &__arrow {
    display: block;
    min-width: 21px;
    min-height: 22px;

    &:active svg use path {
      fill: red;
    }
  }
}

/*-------------------------------------------------------------------------------------------
------------------------------------LOYAL---------------------------------------------
-------------------------------------------------------------------------------------------*/

.loyal {
  margin-bottom: 37px;
  // .loyal__container

  &__container {
  }

  // .loyal__body

  &__body {
    position: relative;
    padding: 13px 26px 16px;
    border-radius: 20px;
    overflow: hidden;
  }

  // .loyal__title

  &__title {
    font-size: 14px;
    color: #222e53;
    line-height: 150%;
    margin-bottom: 5px;
  }

  // .loyal__earned

  &__earned {
    font-family: $StozlRegular;
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
    margin-bottom: 10px;
    span {
      font-size: 14px;
      color: #6c98d7;
      margin-left: 3px;
    }
  }

  // .loyal__button

  &__button {
    letter-spacing: 8%;
    line-height: 28px;
  }

  // .loyal__image

  &__image {
  }
}

/*-------------------------------------------------------------------------------------------
------------------------------------MENU---------------------------------------------
-------------------------------------------------------------------------------------------*/

.menu {
  // .menu__container
  margin-bottom: 31px;
  &__container {
  }

  // .menu__title

  &__title {
    margin-bottom: 18px;
  }

  // .menu__list

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 13px;
  }

  // .menu__link

  &__link {
  }
}

.link-menu {
  display: flex;
  flex-direction: column;
  min-height: 107px;
  border-radius: 15px;
  background-color: #f7f8fa;
  padding: 10px;
  position: relative;
  // .link-menu__header

  &__header {
    display: flex;
    justify-content: space-between;
  }

  // .link-menu__title

  &__title {
    line-height: 120%;
    font-size: 12px;
    color: #222e53;
  }

  // .link-menu__icon

  &__icon {
    width: 20px;
    height: 20px;
    margin-top: -5px;
  }

  // .link-menu__arrow

  &__arrow {
    margin-top: auto;
  }

  // .link-menu__image

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------ABOUT---------------------------------------------
-------------------------------------------------------------------------------------------*/

.about {
  margin-bottom: 13px;
  // .about__container

  &__container {
  }

  // .about__title

  &__title {
    margin-bottom: 13px;
  }

  // .about__body

  &__body {
    display: flex;
    gap: 13px;
  }

  // .about__item

  &__item {
    flex: 0 0 50%;
    min-height: 94px;
    padding: 14.14px;
    border-radius: 11px;
    background-color: #f8f9fc;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    &:first-child {
      .about__text {
        max-width: 75px;
      }
      .about__num {
        position: absolute;
        bottom: 2px;
        right: -5px;
      }
      .about__car {
        top: -51px;
        right: -18px;
        transform: rotate(180deg);
        width: 111px;
      }
    }
    &:last-child {
      align-items: end;
      .about__car {
        top: 0px;
        right: auto;
        left: 0;
        width: 89px;
      }
      .about__num {
        font-size: 32.84px;
        line-height: 100%;
      }
      .about__text {
        text-align: right;
      }
    }
  }

  // .about__num

  &__num {
    font-family: $Uncage;
    font-weight: 700;
    color: #202d56;
    letter-spacing: 0%;
    font-size: 38.31px;
  }

  // .about__text

  &__text {
    font-family: $NTSomicRegulal;
    font-weight: 400;
    color: #798097;
    font-size: 9px;
    max-width: 56px;
    line-height: 120%;
  }

  // .about__car

  &__car {
    position: absolute;
    right: 0;
    top: 0;
  }
}

/*-------------------------------------------------------------------------------------------
-------------------------------------REVIEW---------------------------------------------
-------------------------------------------------------------------------------------------*/

.review {
  margin-bottom: 87px;
  // .review__contatiner

  &__contatiner {
  }

  // .review__body

  &__body {
    border-radius: 12px;
    overflow: hidden;
    background-color: #3f5ea7;
    position: relative;
    min-height: 81px;
    padding: 9px 11px 9px 27px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }

  // .review__bg

  &__bg {
    z-index: -1;
    width: 34%;
  }

  // .review__numbers

  &__numbers {
    padding-top: 0;
    padding-left: 0;
    flex: 1 1 auto;
  }

  // .review__evaluation

  &__evaluation {
    font-family: $Uncage;
    font-weight: 500;
    font-size: 45px;
    line-height: 120%;
    letter-spacing: -1%;
    color: #fff;
  }

  // .review__counts

  &__counts {
    font-family: $NTSomicMedium;
    font-weight: 500;
    display: inline-block;
    padding: 4.49px;
    border-radius: 7.86px;
    line-height: 100%;
    letter-spacing: -1%;
    position: relative;
    top: -22px;
    left: 30.39px;
    background-color: #4875de;
    color: #fff;
  }

  // .review__stars

  &__stars {
    display: flex;
    gap: 1px;

    margin-top: -20px;
    margin-left: 31.39px;
  }

  // .review__star

  &__star {
  }

  // .review__texts

  &__texts {
    flex: 0 1 165px;
    margin-top: 9px;
  }

  // .review__text

  &__text {
    font-family: $StozlBook;
    font-weight: 400;
    line-height: 120%;
    color: #fff;
    margin-bottom: 13.37px;
    font-size: 9.86px;
  }

  // .review__review

  &__review {
    font-family: $StozlBold;
    font-weight: 700;
    line-height: 120%;
    font-size: 9.24px;
    text-decoration: underline;
    color: #fff;
  }
}

/*-------------------------------------------------------------------------------------------
--------------------------------FOOTER---------------------------------------------
-------------------------------------------------------------------------------------------*/

.footer {
  position: fixed;
  z-index: 100;
  width: 100%;
  bottom: 15px;

  // .footer__container

  &__container {
  }

  // .footer__body

  &__body {
    padding: 0 20px;
    width: 100%;
    height: 43px;
    border-radius: 21.5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

  // .footer__item

  &__item {
    &:nth-child(1) {
    }
    &:not(:nth-child(3)) {
      border-radius: 50%;
    }
    &:nth-child(3) {
      margin-top: -17px;
      margin-left: 8px;
    }
    &:nth-child(2) {
      position: relative;
      left: 13px;
    }
    &:nth-child(4) {
      position: relative;
      left: -10px;
    }
    &:nth-child(5) {
      position: relative;
      left: -4px;
    }
  }
  &__bg {
    max-width: none;
    object-fit: cover;
    width: 100%;
    height: auto;
    margin-top: -5%;
  }
}

/*-------------------------------------------------------------------------------------------
-------------------------------------NEWS---------------------------------------------
-------------------------------------------------------------------------------------------*/

.news {
  margin-bottom: 22px;

  // .news__container

  &__container {
  }

  // .news__header

  &__header {
    margin-bottom: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .news__title

  &__title {
  }

  // .news__all

  &__all {
    display: inline-flex;
    height: 31px;
    min-width: 88px;
    border-radius: 44px;
    border: 1px #ebebeb solid;
    justify-content: center;
    align-items: center;
    padding: 4px 6px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 6px;
    line-height: 100%;
    letter-spacing: 8%;
    color: #222e53;
  }

  // .news__swiper

  &__swiper {
  }
}

.swiper-news {
  // .swiper-news__wrapper

  &__wrapper {
  }

  // .swiper-news__slide

  &__slide {
    height: 111px;
    border-radius: 20px;
    overflow: hidden;
  }

  // .swiper-news__pagination
  &__buttons {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
  /*-------------------------------------------------------------------------------------------
  ---------------------------------------НАЧАЛО ГЛАВНОЙ ЧАСТИ---------------------------------------------
  -------------------------------------------------------------------------------------------*/
  &__pagination {
    position: relative;
    text-align: center;
    line-height: 0;
    margin-top: 10px;
    .swiper-pagination-bullet {
      width: 7px;
      height: 7px;
      background-color: #d8dae0;
      transition: all 0.2s ease;
      position: relative;
      margin: 0 1.5px !important;
      left: 0;
      top: 0 !important;
      -webkit-tap-highlight-color: transparent;
      transition-delay: 0.1s;
      opacity: 1 !important;
    }
    .swiper-pagination-bullet-active {
      background-color: #3b5db2;
      transition-delay: 0.3s;
    }
    .animation-line {
      position: absolute;
      top: 0;
      left: 0;
      height: 7px;
      width: 55px;
      border-radius: 7.5px;
      overflow: hidden;

      &:before {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        padding: 0 4px;
        width: 100%;
        height: 100%;
        border-radius: 7.5px;
        background-color: #3b5db2;
      }
      &.left::before {
        animation: animationLineLeft 0.5s ease-out;
      }
      &.right::before {
        animation: animationLineRight 0.5s ease-out;
      }
    }
  }

  @keyframes animationLineLeft {
    0% {
      left: 100%;
    }
    50% {
      left: 0;
    }
    100% {
      left: calc(-100% + 7px);
    }
  }

  @keyframes animationLineRight {
    0% {
      left: -100%;
    }
    50% {
      left: 0;
    }
    100% {
      left: calc(100% - 7px);
    }
  }

  /*-------------------------------------------------------------------------------------------
  -------------------------------------КОНЕЦ ГЛАВНОЙ ЧАСТИ---------------------------------------------
  -------------------------------------------------------------------------------------------*/

  // .swiper-news__prev

  &__prev {
    position: static;
    margin-left: auto;
    margin-right: 20px;
  }

  // .swiper-news__next

  &__next {
    position: static;
    margin-left: auto;
  }
  &__prev,
  &__next {
    min-width: 60px;
    min-width: none;
    height: 60px;
    border-radius: 50%;
    border: 2px #3b5db2 solid;
    background-color: #fff;
    svg {
      width: 20px;
    }
    transition: all 0.2s ease;
    path {
      transition: all 0.2s ease;
    }
    @media (hover: hover) {
      &:hover {
        background-color: #3b5db2;
        path {
          fill: #fff;
        }
      }
    }
  }
}

.slide-news {
  // .slide-news__header
  padding: 0px;
  border-radius: 20px;
  height: 111px;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @media (max-width: ($lg + 30)) {
      margin-bottom: 10px;
    }
  }

  // .slide-news__icon

  &__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    @media (max-width: ($lg + 30)) {
      width: 40px;
      height: 40px;
      margin-right: 15px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  // .slide-news__title

  &__title {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  // .slide-news__name

  &__name {
    line-height: 1;
    font-size: 18px;
    font-weight: 500;
    color: #0d1025;
    @media (max-width: ($lg + 30)) {
      font-size: 14px;
    }
  }

  // .slide-news__place

  &__place {
    line-height: 1;
    font-size: 12px;
  }

  // .slide-news__star

  &__star {
    margin-left: auto;
    position: relative;
    padding-right: 27px;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 16px;
      height: 16px;
      background-image: url(../img/news/star.svg);
    }
  }

  // .slide-news__text

  &__text {
    @media (max-width: ($lg + 30)) {
      font-size: 14px;
    }
  }
}
